.home-root {
  height: calc(100vh - 10rem);
  overflow-y: scroll;

  .pokemon-group {
    margin: 0 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    .pokemon {
      width: 25rem;
      height: 25rem;

      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      align-self: center;

      .image-root {
        width: 45%;
      }
    }
  }
  .loading-root {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
  }
}
