.loading-root {
  .loader {
    border: 0.5rem solid var(--color-light-grey);
    border-top: 0.5rem solid var(--color-blue);
    border-bottom: 0.5rem solid var(--color-blue);
    border-radius: 50%;
    width: 1.6rem;
    height: 1.6rem;
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
