.app-root {
  background-color: var(--color-liberty-blue);
  width: 100%;
}

::-webkit-scrollbar {
  width: 6px !important;
}

::-webkit-scrollbar-track {
  color: var(--color-white);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ccc;
  &:hover {
    background-color: #ccc;
  }
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
